<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>유저 상세 관리 페이지</h1>
    <p>※러브플래닛 서비스 관리자용※</p>
    <h2>악성 리뷰 제거</h2>
    <p>나쁜 평가를 준 리뷰를 제거합니다.</p>
    <button onclick="deleteBadReview()">읍,, 읍읍,,!!</button>
    <h2>나의 리뷰 모두 잠금해제</h2>
    <button onclick="unlockAll()">해제!</button>
    <h2>나의 러브코인 1조 만들기</h2>
    <button onclick="showMeLovecoin()">코인이 복사가 된다고?!</button>
    <h2>나의 리뷰 관리(beta)</h2>
    <p>최-신 AI 딥머신러닝 블록체인 메타버스 기술을 사용하여 리뷰를 자동 생성합니다.</p>
    <button onclick="autoReview()">가즈아~</button>

    <script>
        const unlockAll = () => {
            fetch('/cheat/unlockEveryReview')
                .then(res => res.json())
                .then(res => {
                    if (res.success) alert("성공!")
                    else alert("실패...(예기치 못한 서버 문제입니다)")
                })
        }

        const resetReview = () => {
            fetch('/cheat/resetReview')
                .then(res => res.json())
                .then(res => {
                    if (res.success) alert("성공!")
                    else alert("실패...(예기치 못한 서버 문제입니다)")
                })
        }

        const deleteBadReview = () => {
            fetch('/cheat/deleteBadReview')
                .then(res => res.json())
                .then(res => {
                    if (res.success) alert("성공!")
                    else alert("실패...(예기치 못한 서버 문제입니다)")
                })
        }

        const showMeLovecoin = () => {
            fetch('/cheat/copyLovecoin')
                .then(res => res.json())
                .then(res => {
                    if (res.success) alert("성공!")
                    else alert("실패...(예기치 못한 서버 문제입니다)")
                })
        }

        const autoReview = () => {
            fetch('/cheat/aiReview')
                .then(res => res.json())
                .then(res => {
                    if (res.success) alert("성공!")
                    else alert("실패...(예기치 못한 서버 문제입니다)")
                })
        }

        const logout = () => {
            fetch('/data/logout')
                .then(res => res.json())
                .then(res => {
                    location.href = "/"
                })
        }

    </script>
</body>

</html>