<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Love Planet</title>
</head>
<body>
    <div class="screen">
        <section>
            <h1>
                뭔가 대충 제목같은 문구
            </h1>
            <article>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quibusdam reiciendis dignissimos dolorem! Iusto ducimus vel commodi tempora, explicabo suscipit exercitationem sunt beatae natus maiores. Blanditiis neque sapiente dolorem perspiciatis?
            </article>
        </section>
        <main>
            <div class="login_logo">
                로고 부분
            </div>
            <form>
                <div class="input_box">
                    <input id="input" type="text" name="invitation_code" placeholder="초대 코드로 로그인"/>
                    <div id="login_button" onclick="login()">로그인</div>
                </div>
            </form>
        </main>
    </div>
</body>

<script src="javascripts/login.js"></script>
</html>