<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/menu_template.css">
    <link rel="stylesheet" href="stylesheets/lovecoin_chart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Love Planet</title>
</head>
<body>
    <div class="full">
        <div class="menu">
            <div class="menu_box">
                <div class="menu_top">
                    <p id="menu_top_text">🤍 Love Planet</p>
                    <img id="menu_top_image" src="images/user/02.jpg">
                </div>
                <div class="menu_list">
                    <ul id="menu_list_wrapper">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/userShow">My page</a></li>
                        <li><a href="/announce">Notices</a></li>
                        <hr>
                        <li><a href="/lovecoin">Lovecoin Mining</a></li>
                        <li><a href="/lovecoin_chart">Lovecoin Betting</a></li>
                        <li><a href="/users">Users</a></li>
                        <hr>
                        <li><a href="https://drive.google.com/drive/folders/17iISWCmPrqZLcxa-T10jm5ApPSg5Szdz?usp=sharing"   target="_blank">System Document</a></li>
                        <li><a href="/systemFeedback">System Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content_row">
                <div id="chart_wrapper" class="dashboard_box">
                    <div id="game_wrapper">
                        <div class="help" onclick="helpOn()">Help?</div>
                    </div>
                </div>
                <div id="coin_info" class="dashboard_box">
                    <div class="dashboard_title">My Lovecoin</div>
                    <div id="now_lovecoin">300 LC</div>
                    <div class="dashboard_title">Bet</div>
                    <input type="number" id="betting_coin"><button onclick="INPUTS.bet = true">Go!</button>
                    <div class="dashboard_title" id="ranking" style="margin-top: 16px;">Ranking</div>
                    <ol id="graph_rank">
                        <li>박찬정: 9.7배</li>
                    </ol>
                    <a target="_blank" href="https://www.kcgp.or.kr" class="addiction">도박 중독은 국번없이 1336<br>https://www.kcgp.or.kr<br>한국도박문제관리센터</a>
                </div>
            </div>
            <div class="help_screen" id="help_screen">
                <div class="help_close_button" onclick="helpOff()">Close</div>
                <div class="help_body">
                    <!-- help content -->
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="/javascripts/lovecoin_chart.js"></script>

</body>
</html>