<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/menu_template.css">
    <link rel="stylesheet" href="stylesheets/overlay.css">
    <link rel="stylesheet" href="stylesheets/movieReview.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Love Planet</title>
</head>
<body>
    <div class="full">
        <div class="menu">
            <div class="menu_box">
                <div class="menu_top">
                    <p id="menu_top_text">🤍 Love Planet</p>
                    <img id="menu_top_image" src="images/user/02.jpg">
                </div>
                <div class="menu_list">
                    <ul id="menu_list_wrapper">
                        <li><a href="/userShow">My page</a></li>
                        <li><a href="/announce">Notices</a></li>
                        <hr>
                        <li><a href="/lovecoin">Lovecoin Mining</a></li>
                        <li><a href="/lovecoin_chart">Lovecoin Chart</a></li>
                        <li><a href="/users">Users</a></li>
                        <hr>
                        <li><a href="/systemDocument">System Document</a></li>
                        <li><a href="/systemFeedback">System Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content_row">
                <form id="movie_review_form" class="dashboard_box" method="post" action="/data/writeMovieReview">
                    <h2>
                        Movie Review
                    </h2>
                    <div class="review_input">
                        <div class="review_info">
                            <input placeholder="닉네임" class="review_name" type="text" name="user_name" required/>
                            <input type="checkbox" name="hidden" value="1" id="hidden_check"/>
                            <label for="hidden_check">비밀댓글</label>
                            <input type="hidden" name="hidden" value="0" id="hidden_check_hidden"/>
                        </div>
                        <textarea name="body" placeholder="내용"></textarea>
                    </div>
                    <button type="button" class="write_button">작성</button>
                </form>
            </div>
            <div class="content_row">
                <div id="dashboard_reviews" class="dashboard_box">
                    <div class="dashboard_title">
                        <p class="title_text">Reviews</p>
                    </div>
                    <ul id="js_reviewlist">
                        <!-- data by movieReview.js -->
                    <!-- <li onclick="overlayOn(0)">
                            <img class="user_image" src="/images/user/02.jpg">
                            <div class="review_box">
                                <div class="review_userinfo">
                                    <p>존버</p>
                                    <img class="user_grade_image" src="/images/grades/crown.png">
                                    <div class="review_star star3"></div>
                                </div>
                                <div class="review_text">
                                    항상 자신감 있고 주변 사람들한테 관심이 많은 분이다. 근데...
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
            
        </div>

        

    </div>
</body>
<script>
    if(document.getElementById("hidden_check").checked) {
    document.getElementById("hidden_check_hidden").disabled = true;
}
</script>
</html>