<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/menu_template.css">
    <link rel="stylesheet" href="stylesheets/users.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
    <title>Love Planet</title>
</head>
<body>
    <div class="full">
        <div class="menu">
            <div class="menu_box">
                <div class="menu_top">
                    <p id="menu_top_text">π¤ Love Planet</p>
                    <img id="menu_top_image" src="images/user/02.jpg">
                </div>
                <div class="menu_list">
                    <ul id="menu_list_wrapper">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/announce">Notices</a></li>
                        <hr>
                        <li><a href="/lovecoin">Lovecoin Mining</a></li>
                        <li><a href="/lovecoin_chart">Lovecoin Betting</a></li>
                        <li><a href="/users">Users</a></li>
                        <hr>
                        <li><a href="https://drive.google.com/drive/folders/17iISWCmPrqZLcxa-T10jm5ApPSg5Szdz?usp=sharing"   target="_blank">System Document</a></li>
                        <li><a href="/systemFeedback">System Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content_wrapper">
                <div class="content_row">
                    <div id="dashboard_users" class="dashboard_box">
                        <div class="dashboard_title">Users</div>
                        <ul id="users_list">
                            <li id="first_user" onclick="location.href='/userShow?user_id=2'">
                                <img class="user_image" src="/images/user/03.jpg">
                                <div class="user_box">
                                    <div class="user_info">
                                        <p>μ΄μΆ…μ</p>
                                        <img class="user_grade_image" src="/images/grades/grade1.png">
                                        <p class="user_moreinfo">λ§ 30μ„Έ / μ„μΈνΉλ³„μ‹ κ΄€μ•…κµ¬</p>
                                    </div>
                                    <div class="user_text">
                                        2052λ…„ 11μ›” 21μΌ κ°€μ…. λ„μ  λ¦¬λ·° μ 903κ°. ν‰κ·  ν‰μ  λ‚®μ.
                                    </div>
                                </div>
                            </li>
                            <li onclick="location.href='/userShow?user_id=3'">
                                <img class="user_image" src="/images/user/05.jpg">
                                <div class="user_box">
                                    <div class="user_info">
                                        <p>Jessica</p>
                                        <img class="user_grade_image" src="/images/grades/grade10.png">
                                        <p class="user_moreinfo">λ§ 26μ„Έ / μ„μΈνΉλ³„μ‹ μ©μ‚°κµ¬</p>
                                    </div>
                                    <div class="user_text">
                                        2050λ…„ 04μ›” 13μΌ κ°€μ…. λ„μ  λ¦¬λ·° μ 3,090κ°. ν‰κ·  ν‰μ  λ†’μ.
                                    </div>
                                </div>
                            </li>
                            <li onclick="location.href='/userShow?user_id=4'">
                                <img class="user_image" src="/images/user/04.jpg">
                                <div class="user_box">
                                    <div class="user_info">
                                        <p>λ•μ²­μ΄</p>
                                        <img class="user_grade_image" src="/images/grades/grade6.png">
                                        <p class="user_moreinfo">λ§ 29μ„Έ / κΉ€ν¬μ‹ κΉ€ν¬λ³Έλ™</p>
                                    </div>
                                    <div class="user_text">
                                        2046λ…„ 08μ›” 09μΌ κ°€μ…. λ„μ  λ¦¬λ·° μ 13,392κ°. ν‰κ·  ν‰μ  λ†’μ.
                                    </div>
                                </div>
                            </li>
                            <li onclick="location.href='/userShow?user_id=5'">
                                <img class="user_image" src="/images/user/01.jpg">
                                <div class="user_box">
                                    <div class="user_info">
                                        <p>μλ‹</p>
                                        <img class="user_grade_image" src="/images/grades/grade3.png">
                                        <p class="user_moreinfo">λ§ 29μ„Έ / κ³ μ–‘μ‹ μΌμ‚°λ™κµ¬</p>
                                    </div>
                                    <div class="user_text">
                                        2051λ…„ 08μ›” 13μΌ κ°€μ…. λ„μ  λ¦¬λ·° μ 543κ°. ν‰κ·  ν‰μ  λ‚®μ.
                                    </div>
                                </div>
                            </li>
                            <li onclick="location.href='/userShow?user_id=6'">
                                <img class="user_image" src="/images/user/02.jpg">
                                <div class="user_box">
                                    <div class="user_info">
                                        <p>μ΅΄λ²„</p>
                                        <img class="user_grade_image" src="/images/grades/grade1.png">
                                        <p class="user_moreinfo">λ§ 28μ„Έ / μ„μΈνΉλ³„μ‹ κ°•λ™κµ¬</p>
                                    </div>
                                    <div class="user_text">
                                        2049λ…„ 02μ›” 28μΌ κ°€μ…. λ„μ  λ¦¬λ·° μ 793κ°. ν‰κ·  ν‰μ  μ¤‘κ°„.
                                    </div>
                                </div>
                            </li>
                            <li onclick="location.href='/userShow?user_id=7'">
                                <img class="user_image" src="/images/user/02.jpg">
                                <div class="user_box">
                                    <div class="user_info">
                                        <p>μ”Ήλ…„μ§€κΈ°</p>
                                        <img class="user_grade_image" src="/images/grades/grade1.png">
                                        <p class="user_moreinfo">λ§ 30μ„Έ / μ„μΈνΉλ³„μ‹ κ΄€μ•…κµ¬</p>
                                    </div>
                                    <div class="user_text">
                                        2048λ…„ 07μ›” 31μΌ κ°€μ…. λ„μ  λ¦¬λ·° μ 839κ°. ν‰κ·  ν‰μ  λ†’μ.
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>

        

    </div>

</body>

<script src="/javascripts/usersData.js"></script>

</html>