ol {
    padding-inline-start: 30px;
}

li {
    font-size: 24px;
}

.content {
    flex: 1;

    display: flex;
    flex-direction: column;
    position: relative;
}

.content_header {
    padding: 40px 0px 10px 60px;

    color: rgb(88, 88, 88);
    font-size: 40px;
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.1);
}

.content_wrapper {
    overflow-y: hidden;
    height: 100%;
}

.content_row {
    display: flex;
    height: 100%;
}

#game_wrapper {
    position: relative;
}

.help {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;

    border: 4px solid pink;
    border-radius: 10px;
    padding: 12px;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.help:hover {
    background-color: rgba(255, 234, 234, 0.5);
    transform: translateY(-2px);
    transition-duration: 0.2s;
}

.dashboard_box {
    background: rgba(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin: 40px 40px 40px 40px;

    padding: 20px 35px 20px 35px;

    position: relative;
}

.dashboard_box hr {
    opacity: 0.4;
    border: 1px solid white;
    box-shadow: 0 2px 4px 0 lightcoral;
}

.dashboard_title {
    color: rgb(88, 88, 88);
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.addiction {
    font-size: 22px;
    color: black;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
}

.dashboard_semititle {
    color: rgb(88, 88, 88);
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 12px;
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.dashboard_paragraph {
    color: rgb(88, 88, 88);
    font-size: 25px;
    line-height: 1.7;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
}

#chart_wrapper {
    flex: 1;
}

#game_wrapper {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    position: relative;
}

#betting_coin {
    width: 100px;
}

.dashboard_box button {
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid pink;
    border-radius: 2px;
    background-color: white;
}

.dashboard_box button:hover {
    background-color: rgb(255, 234, 234);
}

.help_screen {
    position: absolute;
    top: 0;
    margin: 2%;
    width: calc(96% - 60px);
    height: calc(94% - 60px);
    padding: 30px;
    background-color: rgb(255, 243, 243);
    border-radius: 20px;
    box-shadow: 0 4px 16px 0 rgb(31 38 135 / 37%);
    transition: ease 1s;
}

.help_body {
    word-break: keep-all;
}

.help_body h1 {
    margin: 20px 0 0 20px;
    font-size: 50px;
}

.help_body h2 {
    margin: 50px 0 0 20px;
    font-size: 36px;
}

.help_body p {
    display: block;
    font-size: 28px;
    margin: 60px 0 0 10px;
}

.help_body p:nth-child(5) {
    margin-bottom: 60px;
}

.betting_help_img {
    position: absolute;
    top: 85px;
    right: 70px;
    border-radius: 20px;
    border: 1px solid pink;
}

.help_close_button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 80px;
    height: 40px;

    background-color: white;
    border: 4px solid pink;
    border-radius: 10px;
    padding: 12px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.help_close_button:hover {
    background-color: rgb(255, 234, 234);
    transform: translateY(-2px);
    transition-duration: 0.2s;
}

#now_lovecoin {
    font-size: 24px;
    margin-bottom: 24px;
    padding-left: 8px;
}

@media (max-width: 1900px) {
    .help {
        top: 55px;
    }

    .dashboard_box {
        margin: 40px 20px 40px 40px;
    }

    .dashboard_title {
        font-size: 24px;
        margin: 0;
    }

    #now_lovecoin {
        font-size: 16px;
        margin-bottom: 12px;
    }

    li {
        font-size: 16px;
    }

    .addiction {
        font-size: 14px;
        line-height: 16px;
    }

    .help_body h1 {
        margin: 0 0 0 20px;
        font-size: 36px;
    }

    .help_body h2 {
        margin: 20px 0 0 20px;
        font-size: 28px;
    }

    .help_body p {
        margin: 35px 0 0 10px;
        font-size: 20px;
    }

    .help_body p:nth-child(5) {
        margin-bottom: 40px;
    }

    .betting_help_img {
        width: 152px;
        height: 116px;
        top: 90px;
        right: 32px;
    }

    .help_close_button {
        width: 60px;
        height: 30px;
        padding: 8px;
        font-size: 24px;
        line-height: 30px;
        border: 3px solid pink;
    }
}