.overlay {
    position: fixed;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-color: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 3px );

    transition: all 0.3s;
}

.popup_box {
    background: rgba( 255, 240, 240, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 100px );
    -webkit-backdrop-filter: blur( 100px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin-left: auto;
    margin-right: auto;
}

.popup_review {
    margin-top: 5%;
    width: 700px;
    height: 850px;

    padding: 20px;
}

.popup_review_header {
    display: flex;

    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup_review_userinfo {
    padding-left: 30px;

    display: flex;
    align-items: center;
}

.from {
    font-size: 50px;
    color: dimgray;
}

.popup_review_userphoto {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.popup_review_star {
    width: 160px;
    height: 40px;
    background-position: center;
    background-size: cover;
    margin-left: 30px;
}


.popup_review_star5 { background-image: url('/images/stars/10.png'); }
.popup_review_star4 { background-image: url('/images/stars/8.png'); }
.popup_review_star3 { background-image: url('/images/stars/6.png'); }
.popup_review_star1 { background-image: url('/images/stars/2.png'); }
.popup_review_star2 { background-image: url('/images/stars/4.png'); }

.popup_review_body{
    margin-bottom: 30px;
    height: 580px;
}

.review_textarea {
    width: 86%;
    height: calc(100% - 32px);
    margin-left: 5%;
    padding: 2%;

    border: 2px solid dimgray;
    border-radius: 20px;

    background-color: rgb(255, 255, 255, 0.5);

    font-size: 30px;
    line-height: 45px;
    font-family: 'proxima-nova', 'proxima-nova-extra-condensed',  'YiSunShinDotumM', monospace;
    overflow-y: auto;
}

.real_textarea {
    resize: none;
}

textarea::selection {
    color: white;
    background: black;
}

.popup_review_footer {
    display: flex;
    justify-content: flex-end;

    padding-right: 5%;
}

#submit_button {
    border: none;
    box-shadow: none;
    padding: 0;
    font-family: inherit;
}

.popup_button {
    appearance: none;
    background-color: dimgray;
    height: 40px;
    width: 100px;

    border-radius: 20px;
    text-align: center;
    line-height: 40px;

    color: white;
    font-size: 26px;

    margin-left: 10px;

    cursor: pointer;
}

.to {
    font-size: 25px;
    color: gray;
    margin-left: 25px;
}

#review_rating {
    width: 160px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    background-position: center;
    background-size: cover;
    padding: 5px 12px;
    margin-left: 20px;

    background-color: white;
}

#review_form fieldset {
    display: inline-block;
    direction: rtl;
    border: 2px solid rgb(214, 124, 146);
    border-radius: 5px;
}

#review_form input[type=radio] {
    display: none;
}

#review_form label{
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
    cursor: pointer;
}

#review_form label:hover{
    text-shadow: 0 0 0 rgb(214, 124, 146);
}

#review_form label:hover ~ label{
    text-shadow: 0 0 0 rgb(214, 124, 146);
}

#review_form input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgb(214, 124, 146);
}

@media (max-width: 1920px) {
    .popup_review {
        margin-top: 7vh;
        height: 80vh;
    }

    .popup_review_header {
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .popup_review_body {
        height: 67%;
        margin-bottom: 10px;
    }

    .review_textarea {
        font-size: 24px;
        line-height: 36px;
    }
    
    .popup_review_userphoto {
        width: 90px;
        height: 90px;
    }

    .from {
        font-size: 40px;
    }

    .popup_review_star {
        width: 120px;
        height: 30px;
    }

    .popup_button {
        width: 70px;
        height: 28px;
        line-height: 28px;
        font-size: 20px;
    }

    .to {
        font-size: 20px;
    }

}